@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");
@import "tailwindcss";

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  color: #5e0000;
  background-color: #f8f4eb;
}

.custom-before::before {
  background-image: url("./assets/EvolveText.png");
  position: absolute;
  left: -11%;
  top: -50%;
  height: calc(4.6 / 6 * 100%);
  width: 100%;
}

.custom-font{
  font-family:"Montserrat", sans-serif
}

.custom-before-2::before{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url('./assets//AbstractWaves.png');
}

@media screen and (min-width:768px) and (max-width:1100px) {
  .custom-before::before{
    display: none;
  }
}